In [14]:
import pandas as pd
import numpy as np
import seaborn as sns

In [15]:
df = pd.read_csv(r"C:\Users\nirma\Downloads\tvmarketing (1).csv")
df

        TV  Sales
0    230.1   22.1
1     44.5   10.4
2     17.2    9.3
3    151.5   18.5
4    180.8   12.9
..     ...    ...
195   38.2    7.6
196   94.2    9.7
197  177.0   12.8
198  283.6   25.5
199  232.1   13.4

[200 rows x 2 columns]

In [16]:
df.head()

      TV  Sales
0  230.1   22.1
1   44.5   10.4
2   17.2    9.3
3  151.5   18.5
4  180.8   12.9

In [17]:
df.shape

(200, 2)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   TV      200 non-null    float64
 1   Sales   200 non-null    float64
dtypes: float64(2)
memory usage: 3.3 KB

In [20]:
df.duplicated().sum()

0

In [21]:
df.columns

Index(['TV', 'Sales'], dtype='object')

In [25]:
df.head(10)

      TV  Sales
0  230.1   22.1
1   44.5   10.4
2   17.2    9.3
3  151.5   18.5
4  180.8   12.9
5    8.7    7.2
6   57.5   11.8
7  120.2   13.2
8    8.6    4.8
9  199.8   10.6

In [29]:
df.describe()

               TV       Sales
count  200.000000  200.000000
mean   147.042500   14.022500
std     85.854236    5.217457
min      0.700000    1.600000
25%     74.375000   10.375000
50%    149.750000   12.900000
75%    218.825000   17.400000
max    296.400000   27.000000

In [33]:
q3 =np.percentile(df['TV'],75)
q3

218.825

In [34]:
q1 = np.percentile(df['TV'],25)
q1

74.375

In [36]:
IQR = q3 - q1

In [37]:
IQR

144.45

In [38]:
q1 = q1- (1.5 *IQR)
q1

-142.29999999999998

In [48]:
q3 = q3 + (1.5 *IQR)
q3

652.175

In [54]:
import numpy as np
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [55]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.2,random_state=42)
from sklearn.linear_model import LinearRegression
reg=LinearRegression()
reg.fit(x_train,y_train)

LinearRegression()

In [56]:
y_pred = reg.predict(x_test)

In [57]:
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error

In [58]:
mse = mean_squared_error(y_test,y_pred)
mae = mean_absolute_error(y_test,y_pred)
r2 = r2_score(y_test,y_pred)

In [59]:
(f"the error rate is mean_squared_error :{mse},mean_absolute_error:{mae},r2_score {r2}")

'the error rate is mean_squared_error :10.204654118800956,mean_absolute_error:2.444420003751042,r2_score 0.6766954295627077'